body{

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.auth-container{

    width:100%;
    display:flex;
    justify-content:center;

}

.card{

    width:400px;
    max-width:90%;

    background:#1F2937;

    padding:40px;

    border-radius:18px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.card h1{

    margin-bottom:10px;

}

.card h2{

    color:#9CA3AF;
    font-weight:400;
    margin-bottom:30px;

}

.card input{

    margin-bottom:18px;

}

.card button{

    width:100%;
    padding:15px;
    border-radius:10px;
    background:#2563EB;
    color:white;
    font-size:18px;

}

.card button:hover{

    background:#1D4ED8;

}

.card a{

    display:block;
    margin-top:25px;
    color:#60A5FA;

}

#message{

    color:#EF4444;
    min-height:24px;
    margin-top:15px;

}

.version{

    margin-top:30px;
    color:#9CA3AF;

}
