body{

background:#0F5132;

font-family:Poppins,sans-serif;

margin:0;

color:white;

}

.game-container{

max-width:1200px;

margin:auto;

padding:20px;

}

.top-bar{

display:flex;

justify-content:space-between;

margin-bottom:20px;

font-size:20px;

}

.opponents{

display:flex;

justify-content:space-around;

margin-bottom:40px;

}

.player{

text-align:center;

}

.avatar{

width:60px;

height:60px;

border-radius:50%;

background:#2563EB;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

font-size:30px;

margin-bottom:10px;

}

.hand{

margin-top:10px;

font-size:28px;

}

.table-area{

background:#14532D;

border-radius:20px;

min-height:220px;

padding:20px;

text-align:center;

margin-bottom:40px;

}

.table-cards{

display:flex;

justify-content:center;

gap:12px;

flex-wrap:wrap;

margin-top:25px;

}

.cards{

display:flex;

justify-content:center;

gap:12px;

flex-wrap:wrap;

margin-top:20px;

}

.card{

width:70px;

height:100px;

background:white;

border-radius:10px;

color:black;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

cursor:pointer;

}

.card:hover{

transform:translateY(-8px);

}

.bottom{

margin-top:30px;

text-align:center;

}

#endTurnBtn{

padding:18px 50px;

font-size:22px;

border:none;

border-radius:15px;

background:#2563EB;

color:white;

cursor:pointer;

}
